/* set page background and fonts*/
html{
    height: 100%;
    width: 100%;
}
body {
    background-color: rgb(93, 147, 197);
    color: rgb(183, 215, 245); 
}
/* change heading font color*/
h1{
    color:rgb(23, 66, 100);
    font-family:'Times New Roman';
}
h4{
    color:rgb(255, 255, 255);
    font-family:verdana
}
h3{
    font-family:'Courier New', Courier, monospace;
}
p{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
